{{ define "main" }}

{{ $allPages := .Site.Pages }}
{{ range .Site.Home.Translations }}
{{ $allPages = $allPages | lang.Merge .Site.Pages }}
{{ end }}

{{ $regularPages := .Site.RegularPages }}
{{ range .Site.Home.Translations }}
{{ $regularPages = $regularPages | lang.Merge .Site.RegularPages }}
{{ end }}

<main>
  <section class="p-strip--{{.Params.backgroundType}}">
      <div class="row">
        <div class="col-8">
          <h1>{{.Title}}</h1>
          <p>{{.Params.description}}</p>
        </div>
        <div class="col-4">
          <img src="{{ .RelPermalink }}{{.Params.image}}" alt="">
        </div>
      </div>
  </section>
  <section class="p-strip">
  <div class="row">
    {{ $sponsors := (where $regularPages "Section" "sponsors") }}
    {{ range $sponsors }}
    <div class="col-4">
        <div class="p-card">
            <div class="p-card__content">
                <img alt="{{.Title}}" style="max-height: 100px" src="{{ .RelPermalink }}{{.Params.image }}">
                <h4>
                    <a href="{{ .RelPermalink }}">{{.Title}}</a>
                </h4>
            </div>
        </div>
    </div>
    {{ end }}
    </div>
  </section>
  <section class="p-strip--light">
  <div class="row">
   {{.Content}}
   <a href="mailto:{{.Site.Params.contact}}"><button class="p-button">운영진과 연락하기</button></a>
  </section>
</main>
{{ end }}

