{{ define "main" }}


<main>
  <section class="p-strip--{{.Params.backgroundType}}">
      <div class="row">
        <div class="col-8">
          <div class="p-chip">
            <span class="p-chip__value">후원사</span>
          </div>
          <h1>{{.Title}}</h1>
          {{range .Params.buttons}}
            <a href="{{.url}}"><button class="p-button">{{.label}}</button></a>
          {{end}}
        </div>
        <div class="col-4">
          <img src="{{ .RelPermalink }}{{.Params.image}}" alt="">
        </div>
      </div>
  </section>
  <section class="p-strip">
  <div class="row">
  {{ .Content }}
  </div>
  </section>
  <section class="p-strip--light">
      <div class="row">
        <div class="col-8">
          <a href="../"><button class="p-button">다른 후원사 보기</button></a>
          <a href="mailto:{{.Site.Params.contact}}"><button class="p-button">커뮤니티 후원사가 되고 싶으신가요?</button></a>
        </div>
      </div>
  </section>
</main>
{{ end }}