<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{- $options := (dict "includePaths" (slice "node_modules")) -}}
    {{ $style := resources.Get "sass/theme.scss" | resources.ToCSS $options | resources.Minify | resources.Fingerprint }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <!--  Open Graph Protocol -->
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:title" content="{{ .Title }}" />

    <!--   SASS Stylesheets -->
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>