{{ $allPages := .Site.Pages }}
{{ range .Site.Home.Translations }}
{{ $allPages = $allPages | lang.Merge .Site.Pages }}
{{ end }}

{{ $regularPages := .Site.RegularPages }}
{{ range .Site.Home.Translations }}
{{ $regularPages = $regularPages | lang.Merge .Site.RegularPages }}
{{ end }}
<section class="p-section">
  <div class="row">
    <hr class="p-rule">
  </div>
  <div class="row--25-75-on-large">
    <div class="col">
      <h2>{{i18n "sponsors_partners"}}</h2>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-9">
          <p>{{i18n "sponsors_description"}}</p>
        </div>
        {{ $sponsors := (where $regularPages "Section" "sponsors") }}
          {{ range $sponsors }}
          <div class="col-medium-2 col-3" style="align-content: center;">
            <a href="{{ .RelPermalink }}">
              <img class="p-logo-section__logo" src="{{ .RelPermalink }}{{.Params.image }}" alt="{{.Title}}">
              </a>
          </div>
          {{ end }}
      </div>
    </div>
  </div>
</section>