{{ define "main" }}

<main>
  <section class="main-strip p-strip--{{.Params.backgroundType}}"
    {{if eq .Params.backgroundType "image"}}
    style="background-image:url('{{.Params.backgroundImage}}')"
    {{end}}>
      <div class="row">
        {{if eq .Params.backgroundType "image"}}
        <div class="col-6 col-start-large-7 right-section">
          <div class="p-card--overlay">
            <img src="{{ .RelPermalink }}{{.Params.image}}" alt="" style="padding: 20px">
            <h2>{{.Title}}</h2>
            <p class="p-card__content">{{.Params.description}}</p>
          </div>
        </div>
        {{else}}
        <div class="col-8">
          <h1>{{.Title}}</h1>
          <p>{{.Params.description}}</p>
        </div>
        <div class="col-4">
          <img src="{{ .RelPermalink }}{{.Params.image}}" alt="">
        </div>
        {{end}}
      </div>
  </section>
  <section class="p-strip--light">
    <div class="row u-vertically-center">
      <div class="col-8">
        <h1>{{i18n "about_online_title"}}</h1>
        <p>{{i18n "about_online_desc"}}</p>
        <a href="https://forum.ubuntu-kr.org"><button class="p-button">{{i18n "forums"}}</button></a>
        <a href="https://fb.com/ubuntu.ko"><button class="p-button">{{i18n "fb_groups"}}</button></a>
        <a href="../chat"><button class="p-button">{{i18n "chat"}}</button></a>
        <a href="https://wiki.ubuntu-kr.org/"><button class="p-button">{{i18n "wiki"}}</button></a>
      </div>
      <div class="col-4">
          <img src="{{ .RelPermalink }}/community.svg" alt="">
        </div>
    </div>
  </section>
  <section class="p-strip--accent">
    <div class="row u-vertically-center">
      <div class="col-12">
        <h1>{{i18n "about_networking_title"}}</h1>
        <p>{{i18n "about_networking_desc"}}</p>
        <ul class="p-matrix">
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <img src="{{ .RelPermalink }}/conference.jpg" alt="">
              <h3 class="p-matrix__title">{{i18n "about_networking_events_title"}}</h3>
              <div class="p-matrix__desc">
                <p>
                  {{i18n "about_networking_events_desc"}}
                </p>
              </div>
              <div>
                <a href="https://event.ubuntu-kr.org"><button class="p-button is-dark">{{i18n "about_networking_events_button"}}</button></a>
              </div>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <img src="{{ .RelPermalink }}/DrakeSongAtOSCKyoto.jpg" alt="">
              <h3 class="p-matrix__title">{{i18n "about_exchange_title"}}</h3>
              <div class="p-matrix__desc">
                <p>
                  {{i18n "about_exchange_desc" | safeHTML}}
                </p>
              </div>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <img src="{{ .RelPermalink }}/projects.png" alt="">
              <h3 class="p-matrix__title">{{i18n "about_projects_title"}}</h3>
              <p class="p-matrix__desc">
                {{i18n "about_projects_desc"}}
              </p>
              <div>
                <a href="../projects"><button class="p-button is-dark">{{i18n "group_studies_projects"}}</button></a>
                <a href="../translate"><button class="p-button is-dark">{{i18n "translate_ubuntu"}}</button></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="p-strip--light">
    <div class="row u-vertically-center">
      <div class="col-12">
        <h1>{{i18n "about_organizing_title"}}</h1>
        <p>
          {{i18n "about_organizing_desc"}}
        </p>
        <a href="https://wiki.ubuntu-kr.org/index.php/UbuntuKRLoCo"><button class="p-button">{{i18n "about_organizers_ko"}}</button></a>
        <a href="https://wiki.ubuntu.com/KoreanTeam"><button class="p-button">{{i18n "about_organizers_en"}}</button></a>
        <a href="https://wiki.ubuntu-kr.org/index.php/%EB%A1%9C%EC%BD%94%EB%A9%A4%EB%B2%84"><button class="p-button">{{i18n "about_organizers_list"}}</button></a>
        <a href="mailto:{{.Site.Params.contact}}"><button class="p-button">{{i18n "about_organizers_join"}}</button></a>
      </div>
    </div>
  </section>
  {{- partial "sponsors.html" . -}}
</main>
{{ end }}
