{{ define "main" }}

<main>
  <section class="main-strip p-strip--{{.Params.backgroundType}}"
    {{if eq .Params.backgroundType "image"}}
    style="background-image:url('{{.Params.backgroundImage}}')"
    {{end}}>
      <div class="row">
        {{if eq .Params.backgroundType "image"}}
        <div class="col-6 col-start-large-7 right-section">
          <div class="p-card--overlay">
            <img src="{{ .RelPermalink }}{{.Params.image}}" alt="" style="padding: 20px">
            <h2>{{.Title}}</h2>
            <p class="p-card__content">{{.Params.description}}</p>
          </div>
        </div>
        {{else}}
        <div class="col-8">
          <h1>{{.Title}}</h1>
          <p>{{.Params.description}}</p>
        </div>
        <div class="col-4">
          <img src="{{ .RelPermalink }}{{.Params.image}}" alt="">
        </div>
        {{end}}
      </div>
  </section>
  <section class="p-strip--light">
    <div class="row u-vertically-center">
      <div class="col-8">
        <h1>온라인 교류 및 필요한 자료 찾기</h1>
        <p>포럼, 페이스북 그룹, IRC 등 다양한 채널에서 커뮤니티 사람들과 교류하고, 공식 문서나 위키에서 필요한 자료를 찾아보세요.</p>
        <a href="https://forum.ubuntu-kr.org"><button class="p-button">포럼</button></a>
        <a href="https:/fb.com/ubuntu.ko"><button class="p-button">페이스북 그룹</button></a>
        <a href="../chat"><button class="p-button">채팅(Slack, IRC)</button></a>
        <a href="https://wiki.ubuntu-kr.org/"><button class="p-button">위키</button></a>
      </div>
      <div class="col-4">
          <img src="{{ .RelPermalink }}/community.svg" alt="">
        </div>
    </div>
  </section>
  <section class="p-strip--accent">
    <div class="row u-vertically-center">
      <div class="col-12">
        <h1>다양한 네트워킹, 교류 및 연구/개발 활동</h1>
        <p>아래와 같은 우분투 및 관련 오픈소스 기술에 대한 다양한 활동을 하고 있습니다. 온라인에서의 활동을 넘어 사람들과 만나 교류하고 경험을 공유 해 보세요.</p>
        <ul class="p-matrix">
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <img src="{{ .RelPermalink }}/conference.jpg" alt="">
              <h3 class="p-matrix__title">세미나, 워크샵 및 컨퍼런스</h3>
              <div class="p-matrix__desc">
                <p>
                  주기적으로 세미나, 컨퍼런스를 열어 우분투와 관련된 다양한 지식을 공유하고,
                  워크샵 행사를 통해 실습 시간을 제공하여 우분투 및 관련 오픈소스 기술을 익힐 수 있는 시간을 제공합니다.
                </p>
              </div>
              <div>
                <a href="https://event.ubuntu-kr.org"><button class="p-button is-dark">행사 일정 보기</button></a>
              </div>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <img src="{{ .RelPermalink }}/DrakeSongAtOSCKyoto.jpg" alt="">
              <h3 class="p-matrix__title">국내/해외 오픈소스/IT커뮤니티 교류</h3>
              <div class="p-matrix__desc">
                <p>
                  OpenStack Korea, WSL Korea User Group 등 다양한 국내 오픈소스 커뮤니티와 교류 및 연합 행사 등을 진행하고 있습니다.
                  Ubuntu Japan, Debian Japan, Ubuntu Taiwan, Ubuntu Malaysia 등 해외 오픈소스 커뮤니티와도 교류하고 있으며,
                  아시아 지역 우분투 커뮤니티 교류의 장인 <a href="https://www.ubucon.asia">UbuCon Asia</a>에도 참여하고 있습니다.
                </p>
              </div>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <img src="{{ .RelPermalink }}/projects.png" alt="">
              <h3 class="p-matrix__title">스터디, 프로젝트, 오픈소스 기여 활동</h3>
              <p class="p-matrix__desc">
                우분투 및 관련 오픈소스 기술에 대한 스터디와 프로젝트를 진행하고 있으며, 
                우분투 번역 등 우분투 프로젝트에 기여하는 활동도 진행하고 있습니다.
              </p>
              <div>
                <a href="../projects"><button class="p-button is-dark">스터디/프로젝트</button></a>
                <a href="../translate"><button class="p-button is-dark">우분투 번역</button></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="p-strip--light">
    <div class="row u-vertically-center">
      <div class="col-12">
        <h1>커뮤니티 운영</h1>
        <p>
          우분투, 리눅스, 오픈소스에 열정을 가진 다양한 분들이 커뮤니티 운영에 자발적으로 참여하고 계십니다.
          우분투 커뮤니티에서 열정적으로 활동하시고 운영에 관심이 있는 분이라면, 누구든지 운영진으로 참여할 수 있습니다.
        </p>
        <a href="https://wiki.ubuntu-kr.org/index.php/UbuntuKRLoCo"><button class="p-button">커뮤니티 운영 관련 자료</button></a>
        <a href="https://wiki.ubuntu.com/KoreanTeam"><button class="p-button">커뮤니티 운영 관련 자료(영어)</button></a>
        <a href="https://https://wiki.ubuntu-kr.org/index.php/%EB%A1%9C%EC%BD%94%EB%A9%A4%EB%B2%84"><button class="p-button">운영진 현황</button></a>
        <a href="mailto:{{.Site.Params.contact}}"><button class="p-button">커뮤니티 운영진이 되고 싶으신가요?</button></a>
      </div>
    </div>
  </section>
  {{- partial "sponsors.html" . -}}
</main>
{{ end }}