{{ define "main" }}


<main>
  <section class="p-strip--{{.Params.backgroundType}}"
    {{if eq .Params.backgroundType "image"}}
    style="background-image:url('{{.Params.backgroundImage}}')"
    {{end}}>
      <div class="row">
        {{if eq .Params.backgroundType "image"}}
        <div class="col-6 col-start-large-7">
          <div class="p-card--overlay">
            <img src="{{ .RelPermalink }}{{.Params.image}}" alt="" style="padding: 20px">
            <h2>{{.Title}}</h2>
            <p class="p-card__content">{{.Params.description}}</p>
          </div>
        </div>
        {{else}}
        <div class="col-8">
          <h1>{{.Title}}</h1>
          <p>{{.Params.description}}</p>
        </div>
        <div class="col-4">
          <img src="{{ .RelPermalink }}{{.Params.image}}" alt="">
        </div>
        {{end}}
      </div>
  </section>
  <section class="p-strip">
  <div class="row">
  {{ .Content }}
  </div>
  </section>
</main>
{{ end }}