{{ define "main" }}

{{ $allPages := .Site.Pages }}
{{ range .Site.Home.Translations }}
{{ $allPages = $allPages | lang.Merge .Site.Pages }}
{{ end }}

{{ $regularPages := .Site.RegularPages }}
{{ range .Site.Home.Translations }}
{{ $regularPages = $regularPages | lang.Merge .Site.RegularPages }}
{{ end }}

<main>
  <section class="p-strip--suru main-slide">
      <div class="row">
        <div class="col-8">
          <h1>{{.Site.Title}}</h1>
          <p>{{.Site.Params.description}}</p>
          <a href="about"><button>커뮤니티 소개</button></a>
        </div>
        <div class="col-4">
          <img src="{{ "/img/logo.svg" | relURL }}" alt="">
        </div>
      </div>
  </section>
  {{ $slides := (where $regularPages "Section" "slides") }}
  {{ range $slides }}
  <section class="p-strip--{{.Params.backgroundType}} main-slide">
      <div class="row">
        <div class="col-8">
          <h1>{{.Title}}</h1>
          <p>{{ .Content }}</p>
          {{ range .Params.buttons }}
          <a href="{{ .RelPermalink }}{{.url}}"><button>{{.label}}</button></a>
          {{ end }}
        </div>
        <div class="col-4">
          <img src="{{ .RelPermalink }}{{.Params.image}}" alt="">
        </div>
      </div>
  </section>
  {{ end }}
  <div class="row">
        <footer class="p-article-pagination">
        <a class="p-article-pagination__link--previous" onclick="prevSlide()">
            <span class="p-article-pagination__label">{{ i18n "prev" }}</span>
        </a>
        <a class="p-article-pagination__link--next" onclick="nextSlide()">
            <span class="p-article-pagination__label">{{ i18n "next" }}</span>
        </a>
        </footer>
    </div>
  <section class="p-strip">
      <div class="row">
        <div class="col-8">
          <h1>가장 널리 쓰이는 리눅스 배포판</h1>
          <p>
            우분투(Ubuntu)는 가장 널리 쓰이는 오픈소스 리눅스 배포판 중 하나 입니다.
            사용하기 쉬운 리눅스 데스크탑, 인프라 운용 소프트웨어 구성이 쉬운 서버용 리눅스 등으로도 잘 알려져 있습니다.
            데스크탑, 노트북, 서버, 클라우드, 사물인터넷, Raspberry Pi, 가전제품, 키오스크 등 다양한 유형의 환경과 디바이스에 최적화 되어 있습니다.
          </p>
          <a href="download"><button class="p-button has-icon"><i class="p-icon--begin-downloading"></i><span>내려받기</span></button></a>
        </div>
        <div class="col-4">
          <img src="{{ "/img/ubuntu_platforms.svg" | relURL }}" alt="">
        </div>
      </div>
  </section>
  <section class="p-strip--light">
      <div class="row">
        <div class="col-12">
          <h1>우분투 공식 지역 커뮤니티</h1>
          <p>
            우분투 한국 커뮤니티는 Ubuntu Community Council 인증 공식 우분투 지역 커뮤니티 입니다.
            온라인 커뮤니티 및 문서 서비스 제공, 각종 세미나와 컨퍼런스 개최, 우분투 및 관련 오픈소스 기술에 대한 그룹 스터디와 연구/개발 및 프로젝트 등 다양한 활동을 하고 있습니다. 
          </p>
          <a href="about"><button>커뮤니티 소개</button></a>
          <div class="row p-divider">
            <div class="col-4 p-divider__block">
              <h2>
                <i class="p-icon--comments"></i>
                <i class="p-icon--topic"></i>
                </br>커뮤니티 및 문서
              </h2>
              <ul class="p-list--divided">
                <li class="p-list__item is-ticked">
                  <ul class="p-inline-list--middot">
                    <li class="p-inline-list__item">
                      <a href="https://forum.ubuntu-kr.org/">포럼</a>
                    </li>
                    <li class="p-inline-list__item">
                      <a href="https://fb.com/ubuntu.ko">페이스북 그룹</a>
                    </li>
                  </ul>
                </li>
                <li class="p-list__item is-ticked">
                  <ul class="p-inline-list--middot">
                    <li class="p-inline-list__item">
                      <a href="https://wiki.ubuntu-kr.org/">위키</a>
                    </li>
                    <li class="p-inline-list__item">
                      <a href="https://ubuntu-kr.github.io/workshops/o">튜토리얼</a>
                    </li>
                  </ul>
                </li>
                <li class="p-list__item is-ticked">
                  <ul class="p-inline-list--middot">
                    <li class="p-inline-list__item">
                      <a href="chat">채팅 (Slack, IRC)</a>
                    </li>
                    <li class="p-inline-list__item">
                      <a href="https://lists.ubuntu.com/archives/ubuntu-ko/">메일링 리스트</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-4 p-divider__block">
              <h2>
                <i class="p-icon--user-group"></i>
                <i class="p-icon--exposed"></i>
                </br>행사 및 국내/해외 교류
              </h2>
              <ul class="p-list--divided">
                <li class="p-list__item is-ticked">
                  <ul class="p-inline-list--middot">
                    <li class="p-inline-list__item">
                      <a href="https://event.ubuntu-kr.org/">세미나, 워크샵, 컨퍼런스</a>
                    </li>
                  </ul>
                </li>
                <li class="p-list__item is-ticked">
                  <ul class="p-inline-list--middot">
                    <li class="p-inline-list__item">
                      다른 오픈소스 커뮤니티와의 연합 행사
                    </li>
                  </ul>
                </li>
                <li class="p-list__item is-ticked">
                  <ul class="p-inline-list--middot">
                    <li class="p-inline-list__item">
                      <a href="https://www.ubucon.asia/">UbuCon Asia (우부콘 아시아)</a>
                    </li>
                  </ul>
                </li>
                <li class="p-list__item is-ticked">
                  <ul class="p-inline-list--middot">
                    <li class="p-inline-list__item">
                      해외 오픈소스 커뮤니티와 교류
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-4 p-divider__block">
              <h2>
                <i class="p-icon--code"></i>
                <i class="p-icon--highlight-off"></i>
                </br>연구/개발 활동</h2>
               <ul class="p-list--divided">
                <li class="p-list__item is-ticked">
                  <ul class="p-inline-list--middot">
                    <li class="p-inline-list__item">
                      <a href="projects">스터디/프로젝트</a>
                    </li>
                  </ul>
                </li>
                <li class="p-list__item is-ticked">
                  <ul class="p-inline-list--middot">
                    <li class="p-inline-list__item">
                      <a href="translate">소프트웨어 지역화(번역)</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="p-strip">
      <div class="row">
        <div class="col-12">
          <h1>후원사</h1>
          <p>
            다양한 회사, 기관, 단체에서 우분투 한국 커뮤니티를 여러 방법으로 후원하여, 더 활발한 활동을 할 수 있도록 돕고 있습니다.
          </p>
          <a href="sponsors"><button class="p-button has-icon"><i class="p-icon--information"></i><span>후원사 목록 보기</span></button></a>
          <div class="p-logo-section">
            <div class="p-logo-section__items">
            {{ $sponsors := (where $regularPages "Section" "sponsors") }}
            {{ range $sponsors }}
              <div class="p-logo-section__item"><a href="{{ .RelPermalink }}">
              <img class="p-logo-section__logo" src="{{ .RelPermalink }}{{.Params.image }}" alt="{{.Title}}">
              </a></div>
            {{ end }}
            </div>
          </div>
        </div>
      </div>
  </section>
</main>
{{ end }}