{{ define "main" }}

{{ $allPages := .Site.Pages }}
{{ range .Site.Home.Translations }}
{{ $allPages = $allPages | lang.Merge .Site.Pages }}
{{ end }}

{{ $regularPages := .Site.RegularPages }}
{{ range .Site.Home.Translations }}
{{ $regularPages = $regularPages | lang.Merge .Site.RegularPages }}
{{ end }}

<main>
  <div class="p-suru--25-75 is-dark main-strip main-slide">
    <div class="row--25-75">
      <div class="col main-strip left-section" style="padding: 20px;">
        <img src='{{ "/img/UbuntuKrCircleTag.svg" | relURL }}' style="max-width: 190px;" alt="" />
      </div>
      <div class="col main-strip right-section">
        <div class="p-section--shallow">
          <h1>{{.Site.Title}}</h1>
          <p class="p-heading--2"></p>
        </div>
        <div class="p-section--shallow">
          <p>{{.Site.Params.description}}</p>
        </div>
        <hr class="p-rule--muted">
        <div class="p-media-container">
          <a href="{{.Site.Params.main_slide.link}}"><button>{{.Site.Params.main_slide.label}}</button></a>
        </div>
      </div>
    </div>
  </div>
  {{ $slides := (where $regularPages "Section" "slides") }}
  {{ range $slides }}
  <div class="p-suru--25-75 is-dark main-strip main-slide p-section--hero">
    <div class="row--25-75">
      <div class="col main-strip left-section" style="padding: 20px;">
        <img src="{{ .RelPermalink }}{{.Params.image}}" alt="">
      </div>
      <div class="col main-strip right-section">
        <div class="p-section--shallow">
          <h1>{{.Title}}</h1>
          <p class="p-heading--2">{{.Params.subtitle}}</p>
        </div>
        <div class="p-section--shallow">
          <p>{{ .Content }}</p>
        </div>
        <hr class="p-rule--muted">
        <div class="p-media-container">
          {{ range .Params.buttons }}
          <a href="{{ .RelPermalink }}{{.url}}"><button>{{.label}}</button></a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  <div class="row">
    <footer class="p-article-pagination">
      <a class="p-article-pagination__link--previous" onclick="prevSlide()">
        <span class="p-article-pagination__label">{{ i18n "prev" }}</span>
      </a>
      <a class="p-article-pagination__link--next" onclick="nextSlide()">
        <span class="p-article-pagination__label">{{ i18n "next" }}</span>
      </a>
    </footer>
  </div>
  <section class="p-strip">
    <div class="row">
      <div class="col-8">
        <h1>{{i18n "main_ubuntu_title"}}</h1>
        <p>
          {{i18n "main_ubuntu_desc"}}
        </p>
        <a href="download"><button class="p-button has-icon"><i
              class="p-icon--begin-downloading"></i><span>{{i18n "main_ubuntu_download"}}</span></button></a>
      </div>
      <div class="col-4">
        <img src="{{ " /img/ubuntu_platforms.svg" | relURL }}" alt="">
      </div>
    </div>
  </section>
  <section class="p-strip--light">
    <div class="row">
      <div class="col-12">
        <h1>{{i18n "main_kr_loco_title"}}</h1>
        <p>
          {{i18n "main_kr_loco_desc"}}
        </p>
        <a href="about"><button>{{i18n "main_kr_loco_about"}}</button></a>
        <div class="row p-divider">
          <div class="col-4 p-divider__block">
            <h2>
              <i class="p-icon--comments"></i>
              <i class="p-icon--topic"></i>
              </br>{{i18n "main_kr_loco_community_title"}}
            </h2>
            <ul class="p-list--divided">
              <li class="p-list__item is-ticked">
                <ul class="p-inline-list--middot">
                  <li class="p-inline-list__item">
                    <a href="https://discourse.ubuntu-kr.org/">{{i18n "forums_discourse"}}</a>
                  </li>
                </ul>
              </li>
              <li class="p-list__item is-ticked">
                <ul class="p-inline-list--middot">
                  <li class="p-inline-list__item">
                    <a href="https://wiki.ubuntu-kr.org/">{{i18n "wiki"}}</a>
                  </li>
                  <li class="p-inline-list__item">
                    <a href="https://ubuntu-kr.github.io/workshops/">{{i18n "tutorials"}}</a>
                  </li>
                </ul>
              </li>
              <li class="p-list__item is-ticked">
                <ul class="p-inline-list--middot">
                  <li class="p-inline-list__item">
                    <a href="chat">{{i18n "chat"}}</a>
                  </li>
                  <li class="p-inline-list__item">
                    <a href="https://lists.ubuntu.com/archives/ubuntu-ko/">{{i18n "mailing_list"}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-4 p-divider__block">
            <h2>
              <i class="p-icon--user-group"></i>
              <i class="p-icon--exposed"></i>
              </br>{{i18n "main_kr_loco_events_title"}}
            </h2>
            <ul class="p-list--divided">
              <li class="p-list__item is-ticked">
                <ul class="p-inline-list--middot">
                  <li class="p-inline-list__item">
                    <a href="https://event.ubuntu-kr.org/">{{i18n "main_kr_loco_events_events"}}</a>
                  </li>
                </ul>
              </li>
              <li class="p-list__item is-ticked">
                <ul class="p-inline-list--middot">
                  <li class="p-inline-list__item">
                    {{i18n "main_kr_loco_collaborate"}}
                  </li>
                </ul>
              </li>
              <li class="p-list__item is-ticked">
                <ul class="p-inline-list--middot">
                  <li class="p-inline-list__item">
                    <a href="https://www.ubucon.asia/">{{i18n "main_kr_loco_ubucon"}}</a>
                  </li>
                </ul>
              </li>
              <li class="p-list__item is-ticked">
                <ul class="p-inline-list--middot">
                  <li class="p-inline-list__item">
                    {{i18n "main_kr_loco_global"}}
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-4 p-divider__block">
            <h2>
              <i class="p-icon--code"></i>
              <i class="p-icon--highlight-off"></i>
              </br>{{i18n "main_kr_loco_research_title"}}
            </h2>
            <ul class="p-list--divided">
              <li class="p-list__item is-ticked">
                <ul class="p-inline-list--middot">
                  <li class="p-inline-list__item">
                    <a href="projects">{{i18n "main_kr_loco_research_projects"}}</a>
                  </li>
                </ul>
              </li>
              <li class="p-list__item is-ticked">
                <ul class="p-inline-list--middot">
                  <li class="p-inline-list__item">
                    <a href="translate">{{i18n "main_kr_loco_research_l10n"}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{- partial "sponsors.html" . -}}
</main>
{{ end }}